.navbar {
    background-color: #1e2029;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-left: 10px;
}

.nav-item {
    font-size: 16px;
    padding-left: 100px;
}

.card-img-overlay {
    color: white;
    padding-left: 200px;
    padding-top: 80px;
    font-family: 'Dancing Script', cursive;
}

.card-text {
    font-size: 20px;
}

.hero {
    padding-left: 80px;
}

.hero1 {
    padding-left: 35px;
}

.eat {
    padding-left: 150px;
}

.btn-light{
    background-color: white;
  }

#abt_delicious {
    background-color: #1e2029;
}

.abt_text {
    font-family: 'Dancing Script', cursive;
}

.about {
    padding: 50px 0px 50px 250px;
}

.del_text {
    padding: 75px 50px 0px 0px;
    font-size: 20px;
}

#heading_container {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding-left: 24px;
}

.book_section .map_container {
    width: 100%;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .book_section .map_container #googleMap {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }

  .book_section .map_container #googleMap {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }

  .special{
    background-color: #1e2029;
    padding: 32px 0px 32px 100px;
  }

  .offer {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    padding: 24px 0px;
  }

  .menu {
    background-color: #1e2029;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 32px;
  }

  .fooditems {
    background-color: #1e2029;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    padding: 24px 20px;
  }

  button {
    background-color: #4ec34a;
border-radius: 10px;

  }

.feed1{
    padding-top: 25px;
    padding-bottom: 25px;
}
  
  .form-control {
margin: 15px;
  }

  .btn_box{
      display: flex;
      justify-content: center;
  }

  .contact {
      background-color: #1e2029;
      color: white;
      padding: 32px 32px 5px 32px;
  }

  .px-2 {
      color: white;
  }